.AuthPage {
    background-color: #6c7343;
    color: #381806;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .container {
      background-color: #e7dcc9;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
  
      .signUpText,
      .logInText {
        color: #381806;
        cursor: pointer;
      }
    }
  }
  