.container {
    background-color: #e7dcc9; // Container background color
    color: white;
    text-align: center;
    padding: 20px;
  }
  
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #381806; // Mocha color for h1
}