.container {
  /* background-color: #e7dcc9;  */
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #381806; 
}