.OrderList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5vmin solid var(--mocha);
    margin: 3vmin 0;
    padding: 3vmin;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: calc(100vh - 18vmin)
    }
    .OrderList::-webkit-scrollbar {
        display: none;
      }
    
    .OrderList .noOrders {
    color: var(--mocha);
    font-size: 2vmin;
    }