.ReviewList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: calc(100vh - 18vmin);
}
.ReviewList::-webkit-scrollbar {
    display: none;
}