.hamburger {
  position: fixed;
  right: 10px;
}

.hamburger div {
    width: 5vmin;
    height: 0.5vmin;
    background-color: var(--olive-green);
    margin: 1vmin;
    margin-left: auto;
    margin-right: auto;
  }