/* LoginForm.module.scss */

.form-container {
    padding: 20px;
    background-color: #e7dcc9;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Align labels to the left */
  .form-container label {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: #381806;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #777e49;
  }
  
  /* Style the Sign In button */
  .form-container button {
    background-color: #777e49;
    color: white;
    border: none;
    padding: 15px 20px; /* Increased padding for the button */
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  /* Style the Sign In text */
  .sign-in-text {
    color: #381806;
  }
  
  .form-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: #d9534f;
  }
  