.StarStatic span {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3vh;
  }
  .StarStatic .on {
    color: var(--yellow);
  }
  .StarStatic .off {
    color: var(--gray);
  }