.StarStatic span {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3vh;
  }
  .StarStatic .on {
    color: var(--mocha);
  }
  .StarStatic .off {
    color: var(--khaki);
  }