.DepartmentList {
    justify-content: space-between;
    background-color: var(--tan-2);
}

.DepartmentList span:hover:not(.active) {
    cursor: pointer;
}

.DepartmentList span:active {
    font-size: 130%;
}