.container {
    background-color: #e7dcc9;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #381806
  }
  
  .form {
    display: flex;
    flex-direction: column; /* Stacks inputs on top of each other */
    align-items: center;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    margin: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #777e49;
    background-color: transparent;
    color: #381806;
  }
  
  .editBtn {
    background-color: #777e49;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px; /* Add margin to separate buttons */
  }
  
  .buttons {
    display: flex;
    flex-direction: column; /* Stacks buttons on top of each other */
    align-items: center;
    margin-top: 20px; /* Add margin to separate buttons from form */
  }
  
  .wishlistBtn,
  .orderHistoryBtn,
  .deleteBtn {
    background-color: #777e49;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin between buttons */
  }
  
  .wishlistBtn:hover,
  .orderHistoryBtn:hover,
  .deleteBtn:hover {
    background-color: #6c7343;
  }
  
  