.Star span {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3vh;
  }
  .Star .on {
    color: var(--mocha);
  }
  .Star .off {
    color: var(--khaki);
  }