.DepartmentList span {
/*     display: flex;
    justify-content: space-between; */
  }
  
  .DepartmentList span:hover:not(.active) {
    cursor: pointer;
    //text-decoration: underline;
    transform: scale(1.2);
  }
  
  .DepartmentList span:active {
    //text-decoration: underline;
    transform: scale(0.7);
   }